{% extends 'components/body.html' %}
{% load static %}

{% block titulo %} Eliminar Post {% endblock %}
{% block contenido %}
<h2>ELIMINAR POST</h2>
<hr>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card mb-3 border border-danger border-2 rounded-3">
        <h3 class="card-header text-danger text-center">🚨 ¡¡Estas por eliminar un post!! 🚨</h3>
        <span class="badge bg-info">{{object.categoria | upper}}</span>
        <div class="card-body">

            <h5 class="card-title ">{{object.titulo}}</h5>
            <h6 class="card-subtitle text-muted">{{object.subtitulo}}</h6>
        </div>
        <img src="{{object.imagen.url}}" width="300" class="mx-5">
        <div class="card-body">
            <p class="card-text">{{object.descripcion | striptags | truncatechars:100}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Fecha:</b> {{object.fecha}}</li>
            <li class="list-group-item"><b>Autor:</b> <I>{{object.autor}}</I></li>
        </ul>
    </div>
    <a class="btn btn-success " href="{% url 'blog:blog_list' %}" role="button"
        style="margin:0 10% 0 15%; width: 30%;">Cancelar</a>
    <button class="btn btn-danger " type="submit" style="width: 30%;">ELIMINAR</button>
</form>
{% endblock %}