{% extends 'components/body.html' %}

{% block titulo %} Post {{object.titulo}} {% endblock %}

{% block contenido %}
<h2>
    <a class="btn btn-outline-danger btn-sm" href="{% url 'blog:home' %}" role="button">👈Volver</a>
    {{object.titulo}}
</h2>
<hr>
<div class="card mb-3">
    <span class="badge bg-info">{{post.categoria | upper}}</span>
    <div class="card-body">
            <h4 class="lead text-end text-muted " style="margin-left:50%">🗓{{object.fecha}}</h4>
            <h3 class="card-title">{{object.titulo}} </h3>
        
        <h5 class="card-subtitle text-muted">{{object.subtitulo}}</h5>
    </div>
    <img src="{{object.imagen.url}}" alt="Imagen {{object.categoria}}">
    <div class="card-body">
        <p>{{object.descripcion}}</p>
        <p class="card-text" style="font-size:20px">{{object.contenido}}</p>
    </div>
    <div class="card-footer text-end">
        <b>Por</b> <I>{{object.autor}}</I>
    </div>
</div>


{% endblock %}