{% extends 'components/body.html' %}

{% block titulo %} Signup User {% endblock %}

{% block contenido %}
<h2>REGISTRAR NUEVO USUARIO</h2>
    <hr class="my-2">
<div class="row">
    <div class="col-6 border border-info border-2 rounded-3" style="background-color:#F6F5F5; margin-left: 25%;">
        <form method="post">
            {% csrf_token %}
            <!-- {{form.as_p}}  -->
            <div class="form-group">
                <label class="form-label mt-4">Usuario</label>
                <input type="text" class="form-control" name="username" autofocus placeholder="Usuario" required>
                <small class="form-text text-muted">Longitud máxima de 150 caracteres. <br> Solo puede estar formado por
                    letras,
                    números y los caracteres @/./+/-/_.</small>
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Nombre</label>
                <input type="text" class="form-control" nombre="first_name" autofocus placeholder="Nombre" required>
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Apellido</label>
                <input type="text" class="form-control" name="last_name" autofocus placeholder="Apellido" required>
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Email address</label>
                <input type="email" class="form-control" name="email" autofocus placeholder="Email" required>
                <small class="form-text text-muted">No compartiremos su emial con nadie más</small>
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Contraseña</label>
                <input type="password" class="form-control" name="password1" autofocus placeholder="Contraseña" required>
                <small class="form-text text-muted">Su contraseña debe contener por lo menos 8
                    caracteres</small><br>
                <small id="emailHelp" class="form-text text-muted">Su contraseña no puede estar formada exclusivamente
                    por números.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
                <input type="password" class="form-control" name="password2" autofocus placeholder="Repita su contraseña" required>
                <small id="emailHelp" class="form-text text-muted">Introduzca la misma contraseña nuevamente, para poder
                    verificar la misma.</small>
            </div>
            <br>
            <button type="submit" class="btn btn-info btn-lg" style="width:100%; margin-bottom: 10px;">Guardar</button>
        </form>
    </div>
</div>
{% endblock %}