{% load static%}
<!--========================= COMPONENTE FOOTER ===============================-->
<footer class="bg-dark text-center text-white position-relative bottom-0 end-0" style="width:100%;">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Social media -->
        <section>
            <!-- Github -->
            <small>REPOSITORIO DEL PROYECTO</small><br>
            <a class="btn btn-secondary  btn-floating m-1" href="https://github.com/thomasrife/ProyectoFinalBlog.git" role="button" target="_black" style="width:20%"><i class="fab fa-github"></i></a>
        </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © Proyecto Final - Coderhause - 2022  - Sol Cantarini - Thomas Rifé </a>
    </div>
    <!-- Copyright -->
</footer>